* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;

  ::-webkit-scrollbar {
    width: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #2f83c7;
    border-radius: 2rem;
    border: 0.15rem solid transparent;
    background-clip: content-box;
  }
}


body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#__next {
  width: 50vw;
  height: 100vh;
}

main {
  top: 4rem;
  width: 50vw;
  height: 80vh;
  border: 1px solid black;
  padding: 1rem;
  position: relative;
  background-color: white;
  overflow: auto;
}

@media only screen and (max-width: 56.25rem) {
  body {
    background-color: #132f4c;
  }

  #__next {
    width: 100vw;
  }

  main {
    width: 100vw;
    height: calc(100vh - 4rem);
  }

  ::-webkit-scrollbar-track {
    background-color: #132f4c;
  }
}
