@import "../../styles/colors.module.scss";


.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 3rem 4rem;
  z-index: 20;
  background-color: $primaryBackgroundColor;
  display: flex;
  justify-content: center;
  color: white;
}

.from {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  > label {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 900;
  }

  > a {
    color: white;
    font-size: 0.8rem;
  }
}

.icon {
  position: absolute;
  top: 1rem;
  right: 1rem;

  svg {
    color: white;
    width: 2rem;
    height: 2rem;
  }
}